@using System.Globalization
@model ProductViewModel;
@{
    ViewData["Title"] = @Model.name;
}

<div class="shop-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        @{
                            var src1 = $@"data:image/png;base64,{@Model.productImage}";
                            <img src="@src1" class="img-responsive" alt="">
                        }

                    </div>
                    <div class="col-md-7 col-sm-6">
                        <form asp-controller="Home" asp-action="InsertCart">
                            <input type="hidden" value="@Model.Id" name="Id"/>
                            <div class="product-single">
                                <div class="ps-header">
                                    <span class="badge offer">-10%</span>
                                    <h3>@Model.name</h3>
                                    <div class="ratings-wrap">
                                        <div class="ratings">
                                            <span class="act fa fa-star"></span>
                                            <span class="act fa fa-star"></span>
                                            <span class="act fa fa-star"></span>
                                            <span class="act fa fa-star"></span>
                                            <span class="act fa fa-star"></span>
                                        </div>

                                    </div>

                                    <div class="ps-price">
                                        <span>@((@Model.price * (decimal) 1.1).ToString("C2", new CultureInfo("tr-TR")))</span> @((@Model.price).ToString("C2", new CultureInfo("tr-TR")))
                                    </div>
                                </div>
                                <p>@Model.fullName</p>
                                <div class="ps-stock">
                                    Durum: <a href="#">Stokta Mevcut</a>
                                </div>
                                <div class="sep"></div>

                                <div class="space10"></div>
                                <div class="row select-wraps">
                                    <div class="col-md-5 col-sm-5">
                                        <p>Miktar<span>*</span></p>
                                        <select name="Amount">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="space20"></div>

                                <div class="space20"></div>
                                <div class="sep"></div>
                                <button type="submit" class="btn-color">Sepete Ekle</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix space40"></div>
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Product Description</a>
                        </li>
                        <li role="presentation">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Customer Review</a>
                        </li>
                        <li role="presentation">
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Product Tags</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <b>Sed sodales, tortor et auctor volutpat</b>
                            <div class="space10"></div>
                            <p>Nam pellentesque tincidunt sem vehicula viverra. Mauris cursus nisl at ornare pharetra. In ullamcorper pellentesque justo quis porta. Nunc venenatis efficitur cursus. Ut id nisi hendrerit, lobortis ante ut, aliquam lacus. Praesent convallis eget arcu sit amet molestie. Phasellus ac ex ac metus hendrerit vestibulum in quis velit. Donec lacinia sit amet leo sit amet semper. Nunc molestie tincidunt odio vel pellentesque. Mauris maximus lorem quis lorem eleifend, ut mollis diam fermentum. Integer dapibus eros sed sagittis auctor. Duis at luctus diam. Ut non ullamcorper nibh. Suspendisse eget fringilla risus.</p>
                            <div class="space20"></div>
                            <ul class="dot">
                                <li>100% cotton</li>
                                <li>Machine wash warm imported</li>
                                <li>Art.No. 54-0032</li>
                            </ul>
                            <div class="space20"></div>
                            <p>Product code: SW448</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="reviews-tab">
                                <p><b>Smile Nguyen</b>, 23 July 2014</p>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                <div class="ratings">
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                </div>
                                <div class="sep"></div>
                                <p><b>Smile Nguyen</b>, 23 July 2014</p>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                <div class="ratings">
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                </div>
                                <div class="sep"></div>
                                <form>
                                    <h5>Write a Review</h5>
                                    <label>Your Name *</label>
                                    <input type="text">
                                    <div class="space20"></div>
                                    <label>Your Review *</label>
                                    <textarea></textarea>
                                    <br>
                                    <div class="clearfix space20"></div>
                                    <span class="pull-left">Rating*&nbsp;&nbsp;</span>
                                    <div class="ratings">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="clearfix space20"></div>
                                    <button type="submit" class="btn-black">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <p>Add Your Tags:</p>
                            <form class="form-tags">
                                <input type="text"><br>
                                <span>Use spaces to separate tags. Use single quotes (') for phrases.</span><br>
                                <button type="submit" class="btn-black">Add Tag</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix space40"></div>
                <div class="row">


                    <button type="button" data-role="none" class="slick-prev" aria-label="previous" style="display: block;">Previous</button><button type="button" data-role="none" class="slick-next" aria-label="next" style="display: block;">Next</button>
                </div>
            </div>
        </div>

    </div>
</div>